
*
    box-sizing: border-box
    margin: 0
    padding: 0

.app
    padding: 2.5rem

.list
    width: 300px
    &Paper
        background-color: #eee !important
    &TitleWrapper
        display: flex
        align-items: center
    &Title
        flex-grow: 1
        padding: 5px !important
        font-size: 1.2rem !important
        font-weight: bold !important

    &Input
        padding: 5px !important
        font-size: 1.2rem !important
        font-weight: bold !important
        &:focus
            background-color: #ddd

.card
    padding: 5px
    margin: 5px
